section{
    padding: 100px 0;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-left: 100px;
}

th {
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    color:black;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-left: 100px;
    margin-right: auto;

}

td {
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    margin-right: auto;

}

section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    color: green;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-shadow: 2px 2px  #000000;
    
}

.rank{
    font-family: 'Roboto', sans-serif;
    background: rgb(61,107,11);
    background: linear-gradient(260deg, rgba(61,107,11,1) 8%, rgba(139,69,19,1) 75%);
}